<% @comments.each do |comment| %>
      <tr>
        <td>
          <%= comment.customer.name %>
        </td>
        <td><%= comment.comment %></td>
        <!--コメントを投稿したユーザーしか消せないように-->
    	 <% if customer_signed_in? && comment.customer_id == current_customer.id %>
          <td><%= link_to 'コメント削除', [comment.post, comment], method: :delete,class: 'btn-sm btn-danger' ,data: { confirm: "削除してもいいですか？" } %></td>
        <% end %>
      </tr>
    <% end %>