<% @comments.each do |comment| %>
      <tr>
        <td>
          <%= comment.customer.name %>
        </td>
        <td><%= comment.comment %></td>
        <!--コメントを投稿したユーザーしか消せないように-->
          <% if current_customer == @comment.customer %>
      	     <td><%= link_to 'Destroy', post_comment_path(comment.post_id, comment.id),class: 'btn-sm btn-danger', method: :delete %></td>
    	    <% end %>
      </tr>
    <% end %>