
<!--いいね機能-->
  <% if post.favorited_by?(current_customer) %>
    <p>
      <%= link_to post_favorites_path(post), method: :delete , remote: true do %>
        いいね<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
          ️<%= post.favorites.count %>
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to post_favorites_path(post), method: :post, remote: true do %>
        いいね<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
          <%= post.favorites.count %>
      <% end %>
    </p>
  <% end %>