<div id="box">
  <div id="images">
    <div class="image1"></div>
    <div class="image3"></div>
    <div class="image4"></div>
  </div>

    <div class="main-visual">
      <div class="about">
        <br>
        <br>
        <h1>思い出をここに残そう。</h1>
        <br>
        <br>
        <br>
        <p>気軽に観光もできなくなってしまった今、</p>
        <br>
        <p>日本の美しい景色を伝え記録していこう。</p>
        <br>
        <p>思い出フォトグラフでは一人ひとりの大切な思い出を</p>
        <br>
        <p>思い出の記録として残して共有していくことを目的としています。</p>
      </div>
    </div>
</div>