<div class="egawa">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <br>
        <h3>User Info</h3>
        <table class='table'>
          <th><%= @customer.name %></th>
          <tr><%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>
        </table>
     </div>
   </div>
 </div>
</div>